.footer {
    background-color: var(--c-gray);
    min-height: 110px;
}

.content {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 25px;
    color: var(--c-asphalt);
    margin-bottom: 20px;
}

.contacts, .links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact, .importantLink {
    margin-bottom: 5px;
}

.link {
    color: var(--c-blue);
}

.link:hover {
    border-bottom: 1px solid var(--c-blue);
}