.content {
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    text-align: center;
}

.userBlock {
    width: 350px;
    display: inline-block;
}