.card {
    width: 430px;
    height: 160px;
    padding: 0 25px;
    background-color: var(--c-gray);
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team1, .team2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.teamName {
    font-size: 20px;
}

.avatar {
    width: 50px;
    margin-bottom: 5px;
}

.goals {
    font-size: 30px;
}

.time {
    font-size: 20px;
}

.winCup1, .winCup2 {
    width: 30px;
    position: absolute;
    top: 21px;
}

.winCup1 {
    right: -45px;   
}

.winCup2 {
    left: -45px;
}