:root {
    --c-black: black;
    --c-gray: #dbdbdb;
    --c-white: white;
    --c-blue: #0071ff;
    --c-violet: #9e56bf;
    --c-asphalt: #5a5a5a;
    --с-wet_asphalt: #606060;
    --c-green: #36d156;
}
