.login {
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    position: relative;
}

.label {
    font-size: 20px;
    margin-bottom: 3px;
}

.input {
    margin-bottom: 20px;
}

.link {
    color: var(--c-blue);
}

.link:hover {
    border-bottom: 1px solid var(--c-blue);
}

.push {
    margin: 20px 0 60px 0;
    font-size: 20px;
    color: var(--c-white);
    background-color: var(--c-green);
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
}