.registration {
    min-height: calc(100vh - 200px);
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fullName, .contacts, .password {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.label {
    font-size: 20px;
    margin-bottom: 3px;
}

.input {
    margin-bottom: 30px;
}

.loginBlock {
    position: absolute;
    left: 0;
    bottom: 150px;
}

.link {
    color: var(--c-blue);
}

.link:hover {
    border-bottom: 1px solid var(--c-blue);
}

.push {
    position: absolute;
    right: 0;
    bottom: 150px;
    font-size: 20px;
    color: var(--c-white);
    background-color: var(--c-green);
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
}