.createTeam {
    min-height: calc(100vh - 275px);
    padding: 40px 0 0 0;
}

.createTeamForm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.teamName, .playersEmails {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
    margin-bottom: 3px;
}

.input {
    margin-bottom: 20px;
}

.plus {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    color: var(--c-white);
    background-color: var(--c-blue);
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
}

.push {
    margin: 40px 0 60px 0;
    font-size: 20px;
    color: var(--c-white);
    background-color: var(--c-green);
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
}

.span {
    margin-bottom: 10px;
    color: var(--с-wet_asphalt);
}