.hero {
    height: calc(80vh - 75px);
    width: 100%;
    background-image: url('../media/mainPage_Background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.createMatch {
    color: var(--c-violet);
    background-color: var(--c-white);
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 25px;
}

.futureMatches {
    margin-bottom: 60px;
}

.pastMatches {
    margin-bottom: 100px;
}

.matchesTitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.matchesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}